IgnoreToGitHub/


# --------------------
# Python
# --------------------
**/dist/
**/denv/
**/env_ex/
**/__pycache__/
**/*.pyc

# --------------------
# Gradle
# --------------------
**/build/
.gradle/

# --------------------
# IDE
# --------------------
.vscode/
.idea/

# --------------------
# Env files
# --------------------
.env
